In [1]:
from bs4 import BeautifulSoup as bs

In [2]:
import requests
import json
import pandas as pd
from config import api_key

In [3]:
ord_url = f"https://www.thecocktaildb.com/api/json/v2/{api_key}/filter.php?c=Ordinary_Drink"
cocktail_url = f"https://www.thecocktaildb.com/api/json/v2/{api_key}/filter.php?c=Cocktail"

In [4]:
response1 = requests.get(ord_url).json()
names = response1['drinks']

In [5]:
# ordinary = []
# for name in names:
#     print(name['strDrink'])

In [6]:
ordinary = []
for name in names:
    ordinary.append(name['strDrink'])
    
ord_df = pd.DataFrame(ordinary)
ord_df.rename(columns = {0: "Name"}, inplace = True)
ord_df.head()

                          Name
0  3-Mile Long Island Iced Tea
1                     410 Gone
2                        50/50
3                     501 Blue
4                   69 Special

In [7]:
ordinary2 = []
for name in names:
    ordinary2.append(name['idDrink'])
    
ord_df2 = pd.DataFrame(ordinary2)
ord_df2.rename(columns = {0: "ID"}, inplace = True)
ord_df2.head()

      ID
0  15300
1  13581
2  14598
3  17105
4  13940

In [8]:
ordinary3 = []
for name in names:
    ordinary3.append(name['strDrinkThumb'])
    
ord_df3 = pd.DataFrame(ordinary3)
ord_df3.rename(columns = {0: "Image URL"}, inplace = True)
ord_df3.head()

                                           Image URL
0  https://www.thecocktaildb.com/images/media/dri...
1  https://www.thecocktaildb.com/images/media/dri...
2  https://www.thecocktaildb.com/images/media/dri...
3  https://www.thecocktaildb.com/images/media/dri...
4  https://www.thecocktaildb.com/images/media/dri...

In [11]:
ordinary_drinks = pd.concat([ord_df2, ord_df, ord_df3], axis =1)
# ordinary_drinks.rename(columns = {1 : "ID", 2 : "Drink Name", 3 : "Image URL"})
ordinary_drinks

,ID,Name,Image URL
0,15300,3-Mile Long Island Iced Tea,https://www.thecocktaildb.com/images/media/dri...
1,13581,410 Gone,https://www.thecocktaildb.com/images/media/dri...
2,14598,50/50,https://www.thecocktaildb.com/images/media/dri...
3,17105,501 Blue,https://www.thecocktaildb.com/images/media/dri...
4,13940,69 Special,https://www.thecocktaildb.com/images/media/dri...
...,...,...,...
271,17194,White Lady,https://www.thecocktaildb.com/images/media/dri...
272,12528,White Russian,https://www.thecocktaildb.com/images/media/dri...
273,15254,Zenmeister,https://www.thecocktaildb.com/images/media/dri...
274,14157,Ziemes Martini Apfelsaft,https://www.thecocktaildb.com/images/media/dri...
275,17027,Zima Blaster,https://www.thecocktaildb.com/images/media/dri...

In [10]:
# response2 = requests.get(cocktail_url).json()
# print(response2['drinks'][0]['strDrink'])