In [1]:
from bs4 import BeautifulSoup as bs

In [2]:
import requests
import json
import pandas as pd

In [3]:
ord_url = 'https://www.thecocktaildb.com/api/json/v1/1/filter.php?c=Ordinary_Drink'
cocktail_url = 'https://www.thecocktaildb.com/api/json/v1/1/filter.php?c=Cocktail'

In [35]:
response1 = requests.get(ord_url).json()
# response1['drinks']

names = response1['drinks']

In [40]:
ordinary = []
for name in names:
    print(name['strDrink'])

3-Mile Long Island Iced Tea
410 Gone
50/50
501 Blue
69 Special
A Day at the Beach
A Furlong Too Late
A midsummernight dream
A Night In Old Mandalay
A. J.
Abbey Cocktail
Abilene
Absolut Stress #2
Absolutely Cranberry Smash
Acapulco
Adam
Adam Sunrise
Adonis Cocktail
Affair
Affinity
After Dinner Cocktail
After sex
After Supper Cocktail
Alabama Slammer
Alaska Cocktail
Alexander
Alfie Cocktail
Algonquin
Alice in Wonderland
Allegheny
Allies Cocktail
Almeria
Almond Chocolate Coffee
Almond Joy
Amaretto And Cream
Amaretto Mist
Amaretto Rose
Amaretto Shake
Amaretto Sour
Amaretto Stinger
Amaretto Sunrise
Amaretto Sunset
Amaretto Tea
Americano
Angel Face
Applecar
Apricot Lady
Archbishop
Arise My Love
Arthur Tompkins
Artillery
AT&T
Atlantic Sun
Atomic Lokade
Autodafé
Avalon
Bacardi Cocktail
Balmoral
Banana Daiquiri
Barracuda
Bellini
Bellini Martini
Bermuda Highball
Between The Sheets
Black Russian
Blackthorn
Bloody Maria
Bloody Mary
Blue Lagoon
Blue Margarita
Blue Mountain
Bluebird
Bobby Burns Cocktail
Boomerang
Boston Sidecar
Boston Sour
Bourbon Sling
Bourbon Sour
Boxcar
Bramble
Brandy Alexander
Brandy Cobbler
Brandy Flip
Brandy Sour
Caipirinha
Caipirissima
California Lemonade
Casa Blanca
Casino
Casino Royale
Champagne Cocktail
Cherry Rum
Chicago Fizz
Chocolate Black Russian
City Slicker
Classic Old-Fashioned
Clove Cocktail
Clover Club
Cuba Libra
Cuba Libre

In [43]:
ordinary = []
for name in names:
    ordinary.append(name['strDrink'])
    
ord_df = pd.DataFrame(ordinary)
ord_df

                              0
0   3-Mile Long Island Iced Tea
1                      410 Gone
2                         50/50
3                      501 Blue
4                    69 Special
..                          ...
95        Classic Old-Fashioned
96               Clove Cocktail
97                  Clover Club
98                   Cuba Libra
99                   Cuba Libre

[100 rows x 1 columns]

In [13]:
ord_df = pd.read_json(ord_url)
ord_df

                                               drinks
0   {'strDrink': '3-Mile Long Island Iced Tea', 's...
1   {'strDrink': '410 Gone', 'strDrinkThumb': 'htt...
2   {'strDrink': '50/50', 'strDrinkThumb': 'https:...
3   {'strDrink': '501 Blue', 'strDrinkThumb': 'htt...
4   {'strDrink': '69 Special', 'strDrinkThumb': 'h...
..                                                ...
95  {'strDrink': 'Classic Old-Fashioned', 'strDrin...
96  {'strDrink': 'Clove Cocktail', 'strDrinkThumb'...
97  {'strDrink': 'Clover Club', 'strDrinkThumb': '...
98  {'strDrink': 'Cuba Libra', 'strDrinkThumb': 'h...
99  {'strDrink': 'Cuba Libre', 'strDrinkThumb': 'h...

[100 rows x 1 columns]

In [11]:
response2 = requests.get(cocktail_url).json()
print(response2['drinks'][0]['strDrink'])

'57 Chevy with a White License Plate